@model TravelGuide.Models.Class.Address
@{
    ViewBag.Title = "GetCommunicate";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


<h3>Update Communicate</h3>
<br />
@using (Html.BeginForm("UpdateCommunicate", "Admin", FormMethod.Post))
{ 
    @Html.Label("Id")
@Html.TextBoxFor(x => x.Id, new { @class = "form-control" })
<br />
@Html.Label("Title")
@Html.TextBoxFor(x => x.Title, new { @class = "form-control" })
<br />
@Html.Label("Description")
@Html.TextAreaFor(x => x.Description, new { @class = "form-control" })
<br />
@Html.Label("AddressWrite")
@Html.TextAreaFor(x => x.AddressWrite, new { @class = "form-control" })
<br />
@Html.Label("PhoneNumber")
@Html.TextBoxFor(x => x.PhoneNumber, new { @class = "form-control" })
<br />
@Html.Label("Mail")
@Html.TextBoxFor(x => x.Mail, new { @class = "form-control" })
<br />
@Html.Label("Location")
@Html.TextBoxFor(x => x.Location, new { @class = "form-control" })
<br />
<button class="btn btn-info btn-sm">
    <i class="fas fa-pencil-alt">
    </i>
    Edit
</button>
}

