@model TravelGuide.Models.Class.SocialMedia
@{
    ViewBag.Title = "GetSocialMedia";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


<h3>Update Social Media</h3>
<br />
@using (Html.BeginForm("UpdateSocialMedia", "Admin", FormMethod.Post))
{
    @Html.Label("Id")
    @Html.TextBoxFor(x => x.Id, new { @class = "form-control", @readonly = "readonly" })
    <br />
    @Html.Label("Brand")
    @Html.TextBoxFor(x => x.Brand, new { @class = "form-control" })
    <br />
    @Html.Label("Link")
    @Html.TextBoxFor(x => x.Link, new { @class = "form-control" })
    <br />
    @Html.Label("Icon")
    @Html.TextBoxFor(x => x.Icon, new { @class = "form-control" })
    <br />
    <button class="btn btn-info btn-sm">
        <i class="fas fa-pencil-alt">
        </i>
        Edit
    </button>
}



