@using TravelGuide.Models.Class
@model List<Blog>

<div class="con-bot">
    @foreach (var x in Model)
    {
    <div class="left">
        <div class="bot-left">
            <img src="@x.BlogImage" style="width:300px; height:175px;" alt="" />
        </div>
        <div class="left-text">
            <h4>@x.Title</h4>
            <span class="Date">@x.Date.ToString("dd.MM.yyyy")</span>
            <p>@x.Description.Substring(0,200)</p>
            <p><a href="/Blog/BlogDetails/@x.Id"><span class="read">Read More >></span></a></p>
        </div>
    </div>
    }
    @Html.Action("partial2","Default")
    
    <div class="clear"></div>
</div>
